@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap%27);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.5)); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: lightskyblue;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, 
nav a.active{
    color: lightskyblue;
    border-bottom: 3px solid lightskyblue;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid lightskyblue;
        border-bottom: 3px solid lightskyblue;
        border-bottom-left-radius:2rem ;
        padding: 1rem solid;
        background-color: #161616;
        border-top:0.1rem solid rgba(0, 0, 0, 1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid lightskyblue;

    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: lightskyblue;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 50vw;
    border-radius: 19%;
    box-shadow: 0 0 25px solid lightskyblue;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size:1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid lightskyblue;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: lightskyblue;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: lightskyblue;
    box-shadow: 0 0 25px lightskyblue;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: lightskyblue;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid lightskyblue;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: lightskyblue;
    color: black;
    box-shadow: 0 0 25px lightskyblue;

}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "мечтатель";
    color: lightskyblue;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid lightskyblue;
    }
}

@keyframes words{
    0%, 20%{
        content: "ставочник";
    }
    21%, 40%{
        content: "Vtuber";
    }
    41%, 60%{
        content: "лудик";
    }
    61%, 80%{
        content: "броук";
    }
    81%, 100%{
        content: "студент";
    }
}

@media(max-width:1000px){
    .home{
        gap:4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin:5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content p{
        font-size: 2rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

.projects-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    overflow: visible;
}

.projects-wrapper h1{
    top:4rem;
    font-size: 5rem;
}

.projects {
    display: flex;
    flex-wrap: nowrap;     
    overflow-x: auto;      
    scroll-snap-type: x mandatory; 
    gap: 2rem;            
    padding: 20px 0;   
    scrollbar-width: none; 
}

.projects::-webkit-scrollbar {
  display: none;
}

.projects::after {
    content: '';
    flex: 0 0 20px;
}

.box-dynamic {
    flex: 0 0 80%; 
    
    height: 300px;
    scroll-snap-align: center;
    border: 2px solid lightskyblue;
    padding: 5rem;
    font-size: 1.6rem;
    border-radius: 4rem;
    background-color: black;
    transition: all 0.4s ease;
    opacity: 0.5;
    transform: scale(0.9);
    box-sizing: border-box; 
    cursor: pointer;
}

.box-dynamic h2{
    font-size: 4rem;
    text-shadow: white;
}

.box-dynamic h3{
    font-size: 2rem;
}

.box-dynamic.is-active {
  opacity: 1;
  transform: scale3d(1.03);
  color: black;
  background-color: lightskyblue;
  box-shadow: 0 0 25px lightskyblue;  
}

.box-dynamic.is-active .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: black;
}

.box-dynamic .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    font-size: 2rem;
    border-color: transparent;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}

.box-dynamic.is-active h2{
  color: rgb(0, 0, 0);
}

.box-dynamic.is-active h3{
  color: rgb(59, 59, 59);
}

.projects.flex-row {
  display: flex; 
  gap: 20px; 
}

.projects.flex-row .box-dynamic {
  flex: 0 0 80%; 
}

.projects-wrapper .nav-btn {
  position: absolute;
  top: 20%;
  transform: translateY(center);
  background: rgba(0,0,0,0.5);
  color: lightskyblue;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  pointer-events: all;
}

.prev {
    left: 10px;
}
.next {
     right: 10px;
}

.nav-btn:hover { 
    transform: scale3d(1.03);
    background-color: lightskyblue;
    color: black;
    box-shadow: 0 0 25px lightskyblue;  
}